#pc-wrap {
  #property-list-page {
    padding-bottom: 40px;
    .container {
      .right {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
      }
      .main-config {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .sidebar-filter-main {
          width: 335px;
          height: 987px;
          .sidebar-filter-container {
            display: flex;
            flex-direction: column;
            // align-items: center;
            padding: 38px 14px;
            // gap: 20px;
            .find-home-container {
              display: flex;
              flex-direction: column;
              width: 299px;
              height: 88px;
              gap: 10px;
              span {
                font-weight: 500;
              }
              .input-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 7px;
                input {
                  width: 257px;
                  height: 53px;
                  border-radius: 8px;
                }
              }
            }
            .location-container {
              display: flex;
              flex-direction: column;
              height: 137px;
              width: auto;
              span {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
              }
              .checkbox-container-main {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .checkbox-container {
                  display: flex;
                  flex-direction: row;
                  gap: 8px;
                  align-items: center;
                }
              }
            }
            .room-selector-container {
              display: flex;
              flex-direction: column;
              gap: 10px;
              span {
                font-weight: 500;
              }
              .toggle-button-container {
                display: flex;
                flex-direction: row;
                div {
                  width: 48px;
                  height: 44px;
                  border-top: 1px solid black;
                  border-bottom: 1px solid black;
                  border-left: 1px solid black;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: 500;
                }
                .first-child {
                  border-top-left-radius: 8px;
                  border-bottom-left-radius: 8px;
                }
                .last-child {
                  border-right: 1px solid black;
                  border-top-right-radius: 8px;
                  border-bottom-right-radius: 8px;
                }
              }
            }
          }
        }
        .card-container-main {
          width: 936px;
          height: 1028px;
          display: flex;
          .card-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            width: 100%;
            height: 856px;
          }
        }

        .pagination-container {
          display: flex;
          align-items: center;
          margin-top: 30px;
        }
        .property-count {
          display: flex;
          align-items: center;
          margin-top: 30px;
          span {
            line-height: 36px;
            font-size: 25px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

//   .sidebar-filter {
//     .sidebar-filter-main {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       background-color: cadetblue;
//       width: 335px;
//       height: 987px;
//     }
//   }
